nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: black;
}
h1{
  color: rgb(255, 157, 0);
}
li{
  display: inline-block;
  list-style-type: none;
  padding: 10px 100px; 
}
Link{
  text-decoration: none;
}
button{
  width: 120px;
  background-color: lightseagreen;
  color: white;
  padding: 8px;
  border-radius: 25px;
  cursor: pointer;
  transition: .2s;
  font-weight: bold;
  font-size: 16px;
  border: none;

}
button:hover{
  background-color: rgb(105, 206, 105);
  font-size: 12px;
}
.main{
  height: 100vh;
  background: linear-gradient(red,yellow,blue);
}
/* .activelink{
  background-color: rgb(255, 157, 0);
} */
